<!DOCTYPE html>
<html>

<head>
<title>Culture and Traditions of Our Village</title>

<style>

body{
font-family: Arial;
margin:10px;
padding:10px;
background:#f4b906;
}

h1{
text-align:center;
margin-top:40px;
}

/* Section layout */

.temple-container{
display:flex;
align-items:center;
gap:30px;
padding:40px;
}

/* Images */

.temple-image img{
width:600px;
border-radius:10px;
}

/* Text */

.temple-text{
width:50%;
font-size:20px;
line-height:1.6;
}

/* Back button */

.back{
text-align:center;
margin-top:40px;
}

a{
text-decoration:none;
color:blue;
font-size:18px;
}

</style>

</head>

<body>

<h1>Culture and Traditions of Our Village</h1>

<!-- First Temple Section -->

<div class="temple-container">

<div class="temple-image">
<img src="{{ url_for('static', filename='lotandada mandir.jpg') }}">
</div>

<div class="temple-text">

<p>
Our village is rich in culture and traditions. The lotan dada mandir temple plays a very
important role in the spiritual life of the villagers since ancient . People visit
the temples regularly to offer prayers and seek blessings.

During festivals, the temples become the center of celebration where
villagers gather together to perform rituals, prayers, and cultural
activities. These traditions have been followed for many generations
and represent the unity and faith of our village community.
</p>
<p1>
    
आपले गाव संस्कृती आणि परंपरांनी समृद्ध आहे. लोटन दादा मंदिर हे आपल्या गावातील एक प्राचीन आणि महत्त्वाचे धार्मिक स्थळ आहे. अनेक वर्षांपासून हे मंदिर गावकऱ्यांच्या आध्यात्मिक जीवनात महत्त्वाची भूमिका बजावत आहे. गावातील लोक नियमितपणे मंदिरात जाऊन देवाचे दर्शन घेतात, प्रार्थना करतात आणि आशीर्वाद घेतात.

आपल्या गावात लोटन दादांची भव्य यात्रा भरते. ही यात्रा अतिशय मोठ्या उत्साहात आणि भक्तिभावाने साजरी केली जाते. आसपासच्या अनेक गावांमधून भाविक या यात्रेला उपस्थित राहतात. ही यात्रा आपल्या गावातील एक जुनी परंपरा असून ती अनेक पिढ्यांपासून चालत आलेली आहे.

सण-उत्सवांच्या वेळी मंदिर हे आनंद आणि उत्साहाचे केंद्र बनते. त्या वेळी गावातील सर्व लोक एकत्र येऊन पूजा, धार्मिक विधी आणि विविध सांस्कृतिक कार्यक्रम करतात. या परंपरा अनेक पिढ्यांपासून चालत आल्या आहेत आणि त्या आपल्या गावातील एकता, श्रद्धा आणि संस्कृतीचे सुंदर प्रतीक आहेत.

</p1>

</div>

</div>

<div class="back">
<a href="/">Back to Home</a>
</div>

</body>
</html>
